# Flight Controller
Adafruit-Blinka
adafruit-circuitpython-bmp280
adafruit-circuitpython-mpu6050
smbus2
RPi.GPIO
picamera2
Pillow

# Note: libcamera and python3-libcamera must be installed system-wide:
# sudo apt install -y libcamera-dev python3-libcamera
# venv must be created with: python3 -m venv venv --system-site-packages

# Dashboard
flask
